/*  your css code here. If applicable */
body{
	background-color:#f5f5f5;
}
header{
	background-color:#011e29;
	text-align:center;
}
h1{
	color:white;
}
.latest-news-section{
	display:flex;
	flex-wrap:nowrap;
	justify-content:space-between;
}
.info{
	background-color:white;
	padding:5px;
	text-align:center;
	border-radius:20px;
}
.images{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
}
.pictorial-news-section{
	background-color:white;
	text-align:center;
	padding:5px;
	border-radius:20px;
}